.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: green !important;
}

@media (max-width: 990px) {
  .infoBox {
    height: 150px;
  }
  .infoBox__title__p {
    font-size: 0.9rem;
    text-align: center;
  }

  .infoBox__cases {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-align: center;
  }
  .infoBox__total {
    margin-top: 2px !important;
    text-align: center;
    font-size: 0.5rem !important;
  }
  .infoBox--selected {
    border-left: 10px solid greenyellow;
    border-top: none;
  }
  .infoBox--red {
    border-color: red;
  }
  .infoBox__cases--green {
    color: green !important;
  }
}
